[package]
name            = "flo_binding"
version         = "1.2.0"
authors         = ["Andrew Hunter"]
license         = "Apache-2.0"
edition         = "2018"
repository      = "https://github.com/Logicalshift/flowbetween"
documentation   = "http://docs.rs/flo_binding/"
description     = "Declarative binding library for Rust"
readme          = "README.md"

keywords        = ["reactive", "parametric", "binding", "event"]
categories      = ["algorithms","asynchronous","data-structures","gui"]

[dependencies]
desync          = { git = "https://github.com/Logicalshift/desync", branch="develop", version = "0.6" }
futures         = "0.3"
